/* RESET CSS ////////////////////////////////////////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FONTS /////////////////////////////////////////////// */

/* app font */
@font-face {
    font-family: "AppFont";
    src: url(fonts/Attractive-Regular.otf);
}

/* restaurant 1 fonts */
@font-face {
    font-family: "Rest1FontTitle";
    src: url(fonts/HammersmithOne.ttf);
}

@font-face {
    font-family: "Rest1FontBody";
    src: url(fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: "Rest1FontBodyBold";
    src: url(fonts/Quicksand-Bold.otf);
}

/* GENRAL APP STYLES /////////////////////////////////// */

body {
    font-size: 14px;
    overflow: hidden;
}

main {
    position: absolute;
    width: 375px;
    height: 667px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
}

header {
    width: 375px;
    height: 60px;
    position: absolute;
    top: 0;
    padding: 15px;
}

section {
    position: absolute;
    top: 60px;
    width: 375px;
    height: 547px;
    background: #FFF;
    overflow: auto;
    padding: 20px;
}

footer {
    width: 375px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

.hamburger{
    cursor: pointer;
}

/* SPLASH SCREEN ////////////////////////////////////////// */

#splash {
    background-image: url(../img/splash-bg.jpg);
    background-size: cover;
}

#splash header {
    font-family: "AppFont", sans-serif;
    border-bottom: solid 5px #FFF;
    font-size: 35px;
    color: #FFF;
    padding: 20px;
    height: 90px;
    text-align: center;
}

#splash img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 173px;
    height: auto;
}
/* 
#splash footer {
    height: 10px;
    background: #cb1017;
} */

/* LANDING SCREEN ///////////////////////////////////////// */

#landing {
    font-family: "AppFont", sans-serif;
    background: #cb1017;
    padding-top: 110px;
}

#landing header {
    border-bottom: solid 5px #ffcb33;
    background: #cb1017;
    color: #FFF;
    height: 103px;
    padding: 20px;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
}

#landing header img {
    width: 57px;
    height: auto;
}

.landingLogos {
    position: relative;
    border: solid 1px #fff;
   
    padding: 15px;
    padding-top: 50px;
    margin: 20px;
    text-align: center;
}



.landingLogos:nth-child(4) {
    padding: 20px;
}

.fineDining {
    position: absolute;
    width: 125px;
    height: auto;
    right: -8px;
    top: 15px;
}

.casualDining {
    position: absolute;
    width: 150px;
    height: auto;
    left: -8px;
    top: 15px;
}

.fastFoodDining {
    position: absolute;
    width: 172px;
    height: auto;
    right: -8px;
    top: 15px;
}

.crispy {
    width: 150px;
    height: auto;
    margin-top: 20px;
}

.ceviche {
    width: 150px;
    height: auto;
}

.hearth {
    width: 220px;
    height: auto;
    margin-left: 30px;
}

#landing footer {
    height: 15px;
    background: #ffcb33;
}

/* MENU ////////////////////////////////////////////// */
#menu{
    background-color: #cb1017;
    padding-top: 80px;
}

#menu header{
    padding: 15px;
    background-color: #cb1017;
    color: #FFF;
    font-size: 16pt;
    font-weight: 900;
    border-bottom: solid 5px #ffcb33;
}

#menu > div{
    font-size: 14pt;
    font-weight: 900;
    color: #fff;
    padding: 15px;
    border-bottom: #ffcb33 4px solid;
    cursor:pointer;
}

#menu > div:last-of-type{
    border-bottom-width: 0;
}


/* SHARED RESTAURANT STLYES /////////////////////////////////// */

/* header/footer */

header img {
    width: 30px;
    height: auto;
    float: left;
    margin-right: 85px;
}



header h1 {
    color: #fff;
}

footer div {
    float: left;
    text-align: center;
    overflow: auto;
    font-size: 12px;
    padding: 10px;
    color: #FFF;
}

footer img {
    height: 25px;
    width: auto;
}

/* general section */
.sectionContainer {
    border: dotted 1px #000;
    text-align: center;
    overflow: auto;
    color: #000;
}

/* home section */

/*  .home {
    background: #3396f3;
} */
.photoAddress {
    padding: 0 15px;
    text-align: left;
}

.homeImg {
    width: 148px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.photoAddress h2 {
    line-height: 80%;
    margin-bottom: 5px;
}

.photoAddress p {
    font-size: 14px;
    line-height: 130%;
}

.rating {
    width: 100px;
    height: auto;
    margin-top: 5px;
}

.photoCount {
    border: solid 1px #000;
    padding: 1px;
    text-align: center;
    width: 148px;
    margin-top: -15px;
}

.hours {
    margin-top: 20px;
}

.hours h2 {
    margin-left: 60px;
    border-bottom: solid 1px #000;
    width: 210px;
}

.hours p {
    margin-top: 5px;
}

.reviews {
    margin: 20px;
}

.profile {
    text-align: left;
    border-bottom: solid 1px #000;
    overflow: auto;
    padding-bottom: 15px;
}

.profile img {
    width: 50px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.profile p:last-child {
    margin-top: 5px;
}

.reviews p:last-child {
    text-align: left;
    margin-top: 10px;   
}

/* general specials/reservations */


/* specials section */

.specials {
    background: #690000;
}
.specials h2{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    font-size: 20pt;
   
}

.specials h3{
    text-align: left;
    margin-left: 8px;
    
}

.specials img {
    width: 105px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
}

.specials p {
    margin-left: 150px;
    margin-top: -85px;
    font-weight: 900;
    width: 130px;
    text-align: center;


}
.specials-bg {
    background: #252525;
    color: #fff;
    width: 300px;
    height: 140px;
    margin: auto;
}

#mon-spec {
    margin-bottom: 10px;
}

#tues-spec {
    margin-bottom: 10px;
}
#wed-spec {
    margin-bottom: 10px;
}
#thurs-spec {
    margin-bottom: 10px;
}
#fri-spec {
    margin-bottom: 10px;
}


/* reservations section */

.reservations {
    background: #690000;
    color: #fff;
}

/* reservations section */
.reservations .sectionContainer {
    border-top: none;
    text-align: left;
    padding: 10px;
    padding-top: 0;
    
}

.reservations h2 {
    margin-top: 10px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}

input, select, textarea {
    padding: 5px;
    border: solid 1px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    color: #777;
    background: #FFF;
}

input[type=submit] {
    background-color: #1a1a1a;
    color: #FFF;
    font-size: 18px;
    margin-top: 15px;
}


/* RESTAURANT 1 ////////////////////////////////////// */

/* general */
#rest1 {
    font-family: "Rest1FontBody", sans-serif;
    color: #fff;
}

/* general section */

#rest1 .home, .specials, .reservations {
    background: #3396f3;
}


#rest1 .sectionContainer {
    border-bottom-color: #ffcb33;
    color: #fff;
}

#rest1 .profileBold {
    font-family: "Rest1FontBodyBold", sans-serif;
}

/* header/footer */
#rest1 header {
    font-family: "Rest1FontTitle", sans-serif;
    background: #3396f3;
    border-bottom: solid 5px #ffcb33;
}

#rest1 footer {
    background: #3396f3;
}

/* footer subnav */
#rest1 .homeIcon {
    margin-left: 55px;
    /* background: #ffcb33 !important; */
}

#rest1 .specialsIcon {
    margin-left: 30px;
    margin-right: 25px;
}

#rest1 .logo {
    width: 80%;
    height: auto;
    margin: 15px 0;
}

/* home */
#rest1 .bar {
    background: #ffcb33;
    padding: 3px;
    font-size: 20px;
    margin-bottom: 15px;
}

#rest1 h2 {
    font-family: "Rest1FontTitle", sans-serif;
    font-size: 20pt;
    text-align: center;

}

#rest1 .photoCount {
    border-color: #ffcb33;
}

#rest1 .hours h2 {
    color: #ffcb33;
    border-bottom-color: #ffcb33;
}

#rest1 .hours p {
    color: #ffcb33;

}

#rest1 .reviews p {
    text-transform: uppercase;
    text-align: center;
}

#rest1 .profile {
    border-bottom-color: #ffcb33;
}





/* RESTAURANT 2 STYLES ////////////////////////////////////// */



/* home */

#rest2 {
    font-family: "Rest1FontBody", sans-serif;
    color: #fff;
}

/* general section */


#rest2 .home, #rest2 .specials, #rest2 .reservations{
    background: #690000;
}

#rest2 .sectionContainer {
    border-bottom-color: #ffcb33;
    color: #fff;
}

#rest2 .profileBold {
    font-family: "Rest1FontBodyBold", sans-serif;
}

/* header/footer */
#rest2 header {
    font-family: "Rest1FontTitle", sans-serif;
    background: #690000;
    border-bottom: solid 5px #ffcb33;
}

#rest2 h1 {
    color: #fff;
    text-align: left;
}

#rest2 header img {
    margin-right: 50px;
}



#rest2 footer {
    background: #690000;
}

/* footer subnav */
#rest2 .homeIcon {
    margin-left: 55px;
    /* background: #ffcb33 !important; */
}

#rest2 .specialsIcon {
    margin-left: 30px;
    margin-right: 25px;
}

#rest2 .logo {
    width: 80%;
    height: auto;
    margin: 15px 0;
    margin-left: 30px;
}

/* home */
#rest2 .bar {
    background: #ffcb33;
    padding: 3px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: -30px;
}

#rest2 h2 {
    font-family: "Rest1FontTitle", sans-serif;
    font-size: 18pt;
    text-align: center;
}

#rest2 .photoCount {
    border-color: #ffcb33;
}

#rest2 .hours h2 {
    color: #ffcb33;
    border-bottom-color: #ffcb33;
}

#rest2 .hours p {
    color: #ffcb33;
}

#rest2 .reviews p {
    text-transform: uppercase;
    text-align: center;
}
#rest2 .profile {
    border-bottom-color: #ffcb33;
}





#rest3 {
    font-family: "Rest1FontBody", sans-serif;
    color: #fff;
}

/* general section */


#rest3 .home, #rest3 .specials, #rest3 .reservations{
    background: #1a1a1a;
}


#rest3 .home {
    background: #1a1a1a;
}

#rest3 .sectionContainer {
    border-bottom-color: #ffcb33;
    color: #fff;
}

#rest3 .profileBold {
    font-family: "Rest1FontBodyBold", sans-serif;
}

/* header/footer */
#rest3 header {
    font-family: "Rest1FontTitle", sans-serif;
    background: #1a1a1a;
    border-bottom: solid 5px #ffcb33;
}

#rest3 footer {
    background: #1a1a1a;
}

/* footer subnav */
#rest3 .homeIcon {
    margin-left: 55px;
    /* background: #ffcb33 !important; */
}

#rest3 .specialsIcon {
    margin-left: 30px;
    margin-right: 25px;
}

#rest3 .logo {
    width: 80%;
    height: auto;
    margin: 15px 0;
}

/* home */
#rest3 .bar {
    background: #ffcb33;
    padding: 3px;
    font-size: 20px;
    margin-bottom: 15px;
}

#rest3 h2 {
    font-family: "Rest1FontTitle", sans-serif;
    font-size:18pt;
    text-align: center;
}

#rest3 .photoCount {
    border-color: #ffcb33;
}

#rest3 .hours h2 {
    color: #ffcb33;
    border-bottom-color: #ffcb33;
}

#rest3 .reviews p {
    text-transform: uppercase;
    text-align: center;
}

#rest3 .hours p {
    color: #ffcb33;
}
#rest3 .profile {
    border-bottom-color: #ffcb33;
}




/* specials */


/* reservations */